.portfolio{
    padding: 0 5em;
    margin-top: 10em;
    
}

.portfolio h1{
    /* text-align: center; */
    /* margin-top: 0; */
    margin-bottom: 2em;
}

.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5em;
    padding-bottom: 5em;
}