.logo{
    justify-content: center;
    flex-direction: column;
    width: 10vmin;
    height: 10vmin;
    display: flex;
    border: solid 2px;
    font-family: "Red Hat Mono", monospace;
    box-shadow: 8px 8px 0px black;
}

.logo:hover{
    box-shadow: none;
}

.first, .last{
    font-size: 2rem;
    padding: 0 0.5em;
}

.last{
    text-align: right;
}