.home {
    height: 100%;
    width: 100%;
    /* background-color: #fae7fa; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 4em;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

.heroMain {
    font-family: 'Poiret One', cursive;
    font-size: 9rem;
    text-shadow: 5px 0px lightpink;
}

.heroDetail {
    font-size: 1.25rem;
    background-color: darkgray;
    color: white;
    position: relative;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 1px 7px black;
}

.heroDetail:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: darkgray;
    margin-bottom: 3em;
}

.home img {
    width: 39vh;
    height: 39vh;
    /* background-color: transparent; */
    border-radius: 50%;
    /* width: min-content; */
    object-fit: none;
    outline: solid 3px;
}