.contact{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20em;
}

.heading{
    font-size: 3rem;
    font-family: monospace;
    font-weight: 900;
}

.contact a{
    background-color: thistle;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: solid 1px black;
    padding: 1em;
    border-radius: 5px;
}

.contact a:hover{
    translate: -5px -5px;
    box-shadow: 5px 5px 0 black;
}