body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fcf5fc;
    font-family: 'Red Hat Mono', monospace;
}

#root{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main{
    margin-top: 5em;
    width: 100%;
    height: 100%;
    flex: 1;
}